BasedOnStyle: 'Google'
IndentAccessModifiers: 'false'
AlignAfterOpenBracket: 'Align'
AlignConsecutiveMacros: 'true'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
Cpp11BracedListStyle: 'true'
IndentWidth: '4'
KeepEmptyLinesAtTheStartOfBlocks: 'true'
Language: 'Cpp'
MaxEmptyLinesToKeep: '1'
NamespaceIndentation: 'None'
SpaceBeforeParens: 'Always'
Standard: 'Cpp11'
TabWidth: '4'
ColumnLimit: '100'
UseTab: 'Never'